# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / coverage
coverage/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build/
apps/mobile/ios/Pods/
apps/mobile/android/.gradle/

# Secrets
*.pem
*.key
!infra/**/*.example
